@charset "UTF-8";

/* base */
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}

/* global */
img {
  width: 100%;
}

.button {
  border-radius: 9999px;
  background-color: orange;
  color: #fff;
  font-weight: bold;
}


/* local */
.common-title {
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
}

.common-title h2 {
  font-size: 37px;
  padding-bottom: 5px;
}

.common-collection {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.common-width {
  width: 310px;
  height: auto;
  margin: 15px 10px 15px 10px;
}

.common-img {
  text-align: center;
  margin-bottom: 15px;
}

/* header */
.header .container {
  padding: 25px 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header .header-logo {
  width: 100px;
  height: 20px;
  margin-left: 10%;
}

.header nav {
  margin-right: 9%;
}

.header nav ul {
  padding-left: 50px;
  display: flex;
}

.header nav li {
  padding: 8px 10px;
  margin-right: 10px;
}

/* hamburger-menu */
#menu-button-check,
.hamburger-menu ul {
  display: none;
}


/* first-view */
.first-view .container {
  background-image: url(../img/first-view.jpg);
  background-size: cover;
  height: 600px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-view .title img {
  height: 150px;
  padding-bottom: 40px;
}

.first-view .info {
  text-align: center;
  padding-bottom: 40px;
  /* 2行追加 */
  margin-top: 15px;
}

.first-view .list {
  border-top: 1px solid;
  padding: 0 30px 0 30px;
}

.first-view .list .pc-none,
.first-view .info .pc-none {
  display: none;
}

.first-view .list {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
}

.first-view .list li {
  padding-bottom: 7px;
}

.first-view .first-view-button {
  padding: 10px 56px;
}




/* feature */
.feature {
  background-color: #f2faff;
  padding-bottom: 30px;
}

.feature .feature-mass img {
  width: 200px;
  height: 200px;
}

.feature h3 {
  text-align: center;
  margin-bottom: 15px;
  line-height: 1;
}




/* thought */
.thought {
  height: 730px;
  color: #fff;
  background-image: url(../img/section2-bg.jpg);
  background-size: cover;
  padding-bottom: 20px;
}

.thought .thought-mass {
  width: 600px;
  height: 475px;
  margin: 0 auto 0 auto;
}

.thought .thought-mass p:not(:last-child) {
  margin-bottom: 30px;
}

/* curriculum */
.curriculum {
  margin: 0 auto;
}

.curriculum .common-subtitle {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.curriculum .common-subtitle::before {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
  margin-right: 1em;
  margin-left: 10%;
  color: #dcdcdc;
}

.curriculum .common-subtitle::after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
  margin-right: 10%;
  margin-left: 1em;
  color: #dcdcdc;
}

.curriculum .recommend-mass img {
  height: auto;
}

.curriculum .recommend-mass p {
  font-size: 23px;
  text-align: center;
}

.curriculum .language-mass img {
  width: 142px;
  height: 200px;
}

.curriculum .language-mass p {
  border-top: solid 1px #dcdcdc;
  padding: 10px 0 0 0;
}



/* course */
.course {
  background-image: url(../img/section4-bg.jpg);
  padding-bottom: 70px;
}

.course .container {
  width: 980px;
  margin: 0 auto;
}

.course .course-mass {
  display: flex;
  justify-content: space-between;
}

.course .course-detail {
  height: 255px;
  width: 480px;
}

.course .course-detail .course-margin {
  display: inline-block;
  margin: 20px 0 20px 20px;
  color: #fff;
}

.course .course-detail h5 {
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  background-color: orange;
}

.course .course-detail p {
  line-height: 1.38;
}

.course .course-detail p span {
  font-size: 24px;
  color: orange;
}

.course .detail-paid {
  background-image: url(../img/section4-1.png);
  background-size: cover;
}

.course .detail-free {
  background-image: url(../img/section4-2.png);
  background-size: cover;
}

.course-white {
  background-color: #fff;
}

.course .course-content {
  width: 480px;
  height: 150px;
  margin-bottom: 40px;
  padding: 20px 10px 10px 10px;
  overflow: auto;
}

.line {
  margin: 20px;
}

.line:empty {
  border-top: solid 1px;
  content: "";
  flex-grow: 1;
  margin-right: 1em;
  color: #dcdcdc;
}

.course .course-application p {
  font-weight: bold;
  padding: 10px 10px 10px 20px;
}

.course .course-application ul {
  padding: 10px 10px 10px 20px;
}


@media (max-width:1280px) {

  /* base */
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  .header nav {
    display: none;
  }

  .header ul {
    display: block;
  }

  /* ハンバーガーメニュー */
  .menu-button {
    top: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #fff;
  }

  .menu-button span,
  .menu-button span:before,
  .menu-button span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
  }

  .menu-button span:before {
    bottom: 8px;
  }

  .menu-button span:after {
    top: 8px;
  }

  #menu-button-check:checked~.menu-button span {
    background-color: rgba(255, 255, 255, 0);
  }

  #menu-button-check:checked~.menu-button span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-button-check:checked~.menu-button span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-button-check {
    display: none;
  }
}

/* コース部分部分を縦にする */
@media (max-width:1150px) {

  /* course */
  .course .container {
    width: 480px;
  }

  .course .course-mass {
    display: block;
    justify-content: space-between;
  }

  .course .course-condition {
    margin-bottom: 30px;
  }
}

@media (max-width:850px) {

  /* base */
  .wrapper {}

  /* local */
  .common-collection {
    display: block;
    margin-bottom: 20px;
  }

  .common-width {
    margin: 0 auto 50px auto;
  }

  /* ヘッダー */
  .header a img {
    width: 100px;
    height: 20px;
    margin-left: 10px;
  }

  .header nav {
    display: none;
  }

  .menu-content {
    width: 70%;
    height: 50%;
  }

  .first-view .container {
    background-position: center;
    height: 550px;
  }

  .first-view .title img {
    height: 100%;
    padding: 10px 10px 20px 10px;
  }

  .first-view .list .pc-none,
  .first-view .info .pc-none {
    display: block;
  }

  /* thought  */
  .thought {
    height: auto;
  }

  .thought .thought-mass {
    width: auto;
    height: auto;
    padding: 10px;
  }

  .thought .thought-mass p:not(:last-child) {
    margin-bottom: 0;
  }

  .thought .thought-mass .pc-width:not(:last-child) {
    margin-bottom: 15px;
  }

  /* feature */
  .feature .feature-mass img {
    width: 150px;
    height: 150px;
  }

  /* curriculum */
  .course {
    padding-bottom: 30px;
  }

  .curriculum .common-subtitle::before {
    margin-right: 3%;
    margin-left: 0;
  }

  .curriculum .common-subtitle::after {
    margin-right: 0;
    margin-left: 3%;
  }

  .curriculum .recommend-mass img {
    width: 225px;
    height: auto;
  }

  .curriculum .language-mass img {
    width: 142px;
    height: 200px;
  }

  /* course */
  .course .container {
    width: 310px;
  }

  .course .course-detail {
    width: 300px;
    height: auto;
  }

  .course .course-content {
    width: auto;
    height: auto;
  }




}
