name: Automerge

on:
  # Try merging all open pull requests. (Only recommended for testing.)
  push:

  # Try merging all open pull requests.
  schedule:
    - cron: 0 * * * *

  # Try merging pull requests belonging to a workflow run.
  workflow_run:
    workflows:
      - CI
    types:
      - completed

  # Try merging pull requests belonging to a check suite.
  check_suite:
    types:
      - completed

  # Try merging a pull request when it is approved.
  pull_request_review:
    types:
      - submitted

  # Try merging a pull request when a draft is marked as “ready for review”, when
  # a required label is applied or when a “do not merge” label is removed.
  pull_request_target:
    types:
      - labeled
      - unlabeled
      - ready_for_review

  # Try merging the specified pull request or all open pull requests if none is specified.
  workflow_dispatch:
    inputs:
      pull-request:
        description: Pull Request Number
        required: false

jobs:
  automerge:
    if: github.event.review.state == 'approved' || !github.event.review
    runs-on: ubuntu-latest
    steps:
      - uses: reitermarkus/automerge@v1
        with:
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          merge-method: rebase
          do-not-merge-labels: never-merge
          required-labels: automerge
          pull-request: ${{ github.event.inputs.pull-request }}
          dry-run: false
